footer {
	background-color: rgba($color--black,0.85);
	padding: $padding--general*3 0;
	i {
		color: $color--white;
		margin-right: $margin--small/2;
		&:last-child {
			margin-right: 0;
		}
	}
	i.inactive {
	  cursor: not-allowed;
	  color: rgba($color--white,0.3);
	}
	.highlight {
		color: $color--highlight-light;
	}
	a {
		color: $color--white;
		&:hover {
			color: $color--primary;
		}
		& i {
			transition: 0.3s;
			&:hover {
				color: $color--primary;
			}	
		}
	}
}

.mol__unit-whoweare {
	img {
		height: 60px;
		margin-bottom: 10px;
	}
	& p {
		font-size: 2rem;
		line-height: 1.4;
		color: $color--white;
		font-weight: 400;
		letter-spacing: 0.01em;
		padding-right: $padding--general*2;
	}
	& p.atm__copyright {
		color: rgba($color--white,0.5);
 		margin-top: 80px;
  		font-size: 0.8rem;
	}
}

.mol__unit-contact {
  border-top: solid 1px $color--secondary;
  padding-top: $padding--small;
  margin-bottom: $margin--small*3;
  color: white;
  &:last-child {
  	margin-bottom: 0;
  }
  & h4 {
  	@include headingUC;
  	color: $color--primary;
  	font-size: 0.9rem;
  	margin-bottom: 8px;
  }
  & span {
  	font-size: 1.2rem;
  }
}