.mol--page-main {
	padding: 100px 0;
}

/* check everything under here */


.org--profile-header {
	& .container-fluid {
		padding: 0;
	}
}

.mol--profile-hero {
	display: block;
	& figure {
		margin: 0 auto;
		max-width: 1776px;
	}
}

.atm--profile-blockquote {
	margin: $margin--general*2 0;
}

.atm--profile-location {
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	padding: $padding--small*1.5 0;
	margin: $margin--general*1.5 0;
	& p, h4 {
		margin-bottom: 0;
	}
}

.atm--profile-description {
	& p:last-child, h4, h5 {
		margin-bottom: 0;
	}
}

h2.atm--profile-title {}

p.atm--profile-details {
	font-size: 1.1rem;
	& a {
		color: $color--primary;
		&:hover {
			color: $color--secondary;
		}
	}
}

.atm--profile-entities {
	margin: $margin--general 0;
}

.mol--profile-primary {
	padding: 0;
}

.mol--profile-secondary {
	margin-top: -70px;
}

@media (min-width: 768px) {
	.mol--profile-primary {
		padding: $padding--general*2.5 0;
	}
}

@media (min-width: 992px) {
	.mol--profile-primary {
		padding: $padding--general*3.5 0;
	}
}


.mol--entity-wrapper {
	width: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
	&:last-child {
		margin-bottom: 0;
	}
	& .atm--entity-logo {
		padding: 5px;
		height: 50px;
		width: 50px;
	}
	& .atm--entity-arrow {
		background-color: lighten($color--primary, 6%);
		&:hover {
			background-color: $color--primary;
		}
		& a i {
			color: $color--secondary;
		}
	}
	& .atm--entity-details {
		margin-left: 15px;
		& .atm--entity-title {
			font-size: 1.2rem;
			line-height: 1; 
			font-family: $brand--font-semi;
		}
		& .atm--entity-desc {
			font-size: 1rem;
			font-family: $brand--font-reg;
		}
	}
}



